<div>
    <div class="form-group">
        <label for="name">Name</label>
        <input #id type="hidden" class="form-control" name="id">
        <input #name type="text" class="form-control" name="name">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input #price type="text" class="form-control" name="price">
    </div>
    <div class="form-group">
        
       <div class="custom-contorl custom-checkbox">
           <input #isactive  id="isactive" type="checkbox" class="custom-control-input">
           <label for="isactive" class="custom-control-label">Is Active</label>
       </div>
    </div>

    <button class="btn btn-primary" (click)="addProduct(id.value,name.value,price.value,isactive.checked);
    name.value='';price.value='0';isactive.value=false">Save</button>
</div>